@import "../partials/variables/variables";

%centrarConFlexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%centrarConFlexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

%formato1 {
    text-align: center;
    font-family: $fuentepredeterminada1;
    color: #000;
}